pokemonred-puffer==0.0.1
nvidia-cuda-runtime==13.0.96
antlr4-python3-runtime==4.9.3
pysdl2-dll==2.32.0
click==8.3.2
charset-normalizer==3.4.7
pynvml==13.0.1
six==1.17.0
decorator==5.2.1
nvidia-cuda-cupti==13.0.85
ptyprocess==0.7.0
Farama-Notifications==0.0.4
annotated-doc==0.0.4
pettingzoo==1.24.1
rich-argparse==1.7.2
wandb==0.25.1
executing==2.2.1
opencv-python==3.4.17.63
mpmath==1.3.0
annotated-types==0.7.0
nvidia-cusparselt-cu13==0.8.0
pydantic==2.12.5
tyro==1.0.12
kiwisolver==1.5.0
requests==2.33.1
matplotlib-inline==0.2.1
docstring_parser==0.17.0
packaging==26.0
pokemonred-puffer==0.0.1
gymnasium==0.29.1
typing-inspection==0.4.2
idna==3.11
gym-notices==0.1.0
websockets==16.0
exceptiongroup==1.3.1
cuda-bindings==13.2.0
networkx==3.4.2
MarkupSafe==3.0.3
cloudpickle==3.1.2
llvmlite==0.47.0
psutil==7.2.2
asttokens==3.0.1
nvidia-cufile==1.15.1.6
nvidia-cufft==12.0.0.61
nvidia-curand==10.4.0.35
pyparsing==3.3.2
einops==0.8.2
filelock==3.25.2
protobuf==6.33.6
prompt_toolkit==3.0.52
tifffile==2025.5.10
shellingham==1.5.4
nvidia-nccl-cu13==2.28.9
gitdb==4.0.12
omegaconf==2.3.0
typeguard==4.5.1
markdown-it-py==4.0.0
triton==3.6.0
nvidia-ml-py==13.595.45
nvidia-cuda-nvrtc==13.0.88
torchvision==0.26.0
ImageIO==2.37.3
certifi==2026.2.25
pip==26.0.1
stack-data==0.6.3
ipython==8.39.0
typing_extensions==4.15.0
nvidia-cusolver==12.0.4.66
gym==0.23.0
wheel==0.46.3
numpy==1.23.3
typer==0.24.1
smmap==5.0.3
rich==14.3.3
PyYAML==6.0.3
cuda-pathfinder==1.5.2
nvidia-cublas==13.1.0.3
fsspec==2026.3.0
pygame==2.5.2
pufferlib==1.0.1
pyglet==1.5.11
PySDL2==0.9.17
jedi==0.19.2
Shimmy==1.3.0
pexpect==4.9.0
lazy-loader==0.5
python-dateutil==2.9.0.post0
mediapy==1.2.6
Cython==3.2.4
sympy==1.14.0
pydantic_core==2.41.5
urllib3==2.6.3
Pygments==2.20.0
mdurl==0.1.2
matplotlib==3.10.8
sentry-sdk==2.57.0
nvidia-cusparse==12.6.3.3
GitPython==3.1.46
contourpy==1.3.2
setuptools==81.0.0
cuda-toolkit==13.0.2
nvidia-nvjitlink==13.0.88
torch==2.11.0
numba==0.65.0
pyboy==2.7.0
nvidia-cudnn-cu13==9.19.0.56
scipy==1.13.1
platformdirs==4.9.6
scikit-image==0.24.0
wcwidth==0.6.0
traitlets==5.14.3
nvidia-nvtx==13.0.85
nvidia-nvshmem-cu13==3.4.5
pure_eval==0.2.3
cycler==0.12.1
pillow==12.2.0
fonttools==4.62.1
Jinja2==3.1.6
parso==0.8.6
platformdirs==4.4.0
packaging==26.0
autocommand==2.2.2
jaraco.context==6.1.0
tomli==2.4.0
jaraco.text==4.0.0
wheel==0.46.3
zipp==3.23.0
more-itertools==10.8.0
backports.tarfile==1.2.0
jaraco.functools==4.4.0
importlib_metadata==8.7.1
